* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.bg-body-tertiary {
    opacity: 1;
    padding: 0;
}

body {
	background: black;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

#reloj1{
	display: none;
	font-size: 18px;
	color: grey;
}
#reloj2{
	position: relative;
	right: 0;
	font-size: 18px;
	color: grey;	
}
#lahr{
	color: gray;
	margin-top: 14px;
	text-align: center;
}   

.container-fluid{
	background-color: black;
    text-align: justify;
}

#btn-vol{
    margin: 1rem;
}

#contenedor-sideimg{
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;

    display: grid;
}
#contenedor-sideimg img{
    width: 12rem !important;
    height: 15rem !important;
    margin: 0;
}
#st{
    margin-top: 20rem !important;
}

#footertext{
    color: darkgray !important;
}

#homl{
    color: darkgray !important;
}

@media screen and (max-width:576px) {
    #contenedor-sideimg{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
    }
    #contenedor-sideimg img{
        width: 5rem !important;
        height: 6rem !important;
        margin: 0;
    }

    #st{
       margin-top: 0 !important;
    }

    #reloj1{
		display: contents;
	}
	#reloj2{
		display: none;
	}
    #lahr{
		display: none;
	}
}