*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.contenedor {
	width: 100%;
	margin: auto;
	padding: 40px 0;
    background-color: black;

	display: grid;
	grid-template-columns: 50% 50%;
	gap: 20px;
    /* display: flex; */
}

.caltex{
    color: white;
    font-family: 'Mukta', sans-serif;
}

#calendar{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    
}

#carouseldExampleCaptions{
    border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center
}

.carousel-item{
    width: 50%;
    height: auto;
    justify-content: center;
}

#comment-box, #post {
    /* border: none; */
    border-radius: 5px;
    padding: 0.4rem;
    margin-left: 4rem;
    margin-top: 1rem;
}
#post{
    margin: 0;
    background-color: aquamarine;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
}
#post:hover{
    background-color: deeppink;
}